@page
@model HairSalon.Web.Pages.Service_listModel
@{
}

<div class="page-header">
    <!-- page header -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="page-caption">
                    <h2 class="page-title">salon and barbar service</h2>
                    <div class="page-breadcrumb">
                        <ol class="breadcrumb">
                            <li><a asp-area="" asp-page="/Index">Home</a></li>
                            <li class="active">service list</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.page header -->
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="service-block">
                    <!-- service block -->
                    <div class="service-icon mb20">
                        <!-- service img -->
                        <img src="~/lib/HairSalon/images/service-icon-1.png" alt=" ">
                    </div>
                    <!-- service img -->
                    <div class="service-content">
                        <!-- service content -->
                        <h2><a href="#" class="title">traditional cut</a></h2>
                        <p>Responsive website templates free download html5 with css3 for Hair Salon and Shop website template.</p>
                        <div class="price ">$45</div>
                    </div>
                    <!-- service content -->
                </div>
                <!-- /.service block -->
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="service-block">
                    <!-- service block -->
                    <div class="service-icon mb20">
                        <!-- service img -->
                        <img src="~/lib/HairSalon/images/service-icon-2.png" alt="">
                    </div>
                    <!-- service img -->
                    <div class="service-content">
                        <!-- service content -->
                        <h2><a href="#" class="title">MUSTACHE TRIM</a></h2>
                        <p>Free Responsive HTML5 CSS3 Website Template for hair salon and beauty salon.Lorem ipsum simple dummy content for only presentations.</p>
                        <div class="price">$45</div>
                    </div>
                    <!-- service content -->
                </div>
                <!-- /.service block -->
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="service-block">
                    <!-- service block -->
                    <div class="service-icon mb20">
                        <!-- service img -->
                        <img src="~/lib/HairSalon/images/service-icon-3.png" alt="">
                    </div>
                    <!-- service img -->
                    <div class="service-content">
                        <!-- service content -->
                        <h2><a href="#" class="title">BEARD TRIM</a></h2>
                        <p>Responsive website templates free download html with css. Lorem ipsum simple dummy content for only presentations.</p>
                        <div class="price ">$45</div>
                    </div>
                    <!-- service content -->
                </div>
                <!-- /.service block -->
            </div>
        </div>
    </div>
</div>
<div class="space-small bg-primary">
    <!-- call to action -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-7 col-md-8 col-xs-12">
                <h1 class="cta-title">Book your online appointment</h1>
                <p class="cta-text"> Call to action button example for booking appointment for patients.</p>
            </div>
            <div class="col-lg-4 col-sm-5 col-md-4 col-xs-12">
                <a href="#" class="btn btn-white btn-lg mt20">Call to action Button</a>
            </div>
        </div>
    </div>
</div>