@page
@model HairSalon.Web.Pages.TestimonialModel
@{
}

<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="page-caption">
                    <h2 class="page-title">Testimonial</h2>
                    <div class="page-breadcrumb">
                        <ol class="breadcrumb">
                            <li><a asp-area="" asp-page="/Index">Home</a></li>
                            <li class="active">Testimonial</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="testimonial-block">
                    <!-- testimonial block -->
                    <div class="testimonial-content">
                        <p class="testimonial-text">“Free Beauty Website Templates that help me a lot to build easy and fast my hair shop website in 2 days”</p>
                    </div>
                    <div class="testimonial-info">
                        <h4 class="testimonial-name">Reba Truong</h4>
                        <span class="testimonial-meta">34 Year</span> <span class="testimonial-meta">Customer</span>
                    </div>
                </div>
                <!--/. testimonial block -->
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="testimonial-block">
                    <!-- testimonial block -->
                    <div class="testimonial-content">
                        <p class="testimonial-text">“Free bootstrap responsive website templates 2017 its best ever i found for my hair salon”</p>
                    </div>
                    <div class="testimonial-info">
                        <h4 class="testimonial-name">Thomas Warren</h4>
                        <span class="testimonial-meta">34 Year</span> <span class="testimonial-meta ">Customer</span>
                    </div>
                </div>
                <!--/. testimonial block -->
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="testimonial-block">
                    <!-- testimonial block -->
                    <div class="testimonial-content">
                        <p class="testimonial-text">“Best Free HTML CSS Website Templates for salon and hair cutting business. All features clean designed”</p>
                    </div>
                    <div class="testimonial-info">
                        <h4 class="testimonial-name">Carie Willis</h4>
                        <span class="testimonial-meta">34 Year</span> <span class="testimonial-meta">Customer</span>
                    </div>
                </div>
                <!--/. testimonial block -->
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="testimonial-block">
                    <!-- testimonial block -->
                    <div class="testimonial-content">
                        <p class="testimonial-text">“Free Beauty Website Templates that help me a lot to build easy and fast my hair shop website in 2 days”</p>
                    </div>
                    <div class="testimonial-info">
                        <h4 class="testimonial-name">Reba Truong</h4>
                        <span class="testimonial-meta">34 Year</span> <span class="testimonial-meta">Customer</span>
                    </div>
                </div>
                <!--/. testimonial block -->
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="testimonial-block">
                    <!-- testimonial block -->
                    <div class="testimonial-content">
                        <p class="testimonial-text">“Free bootstrap responsive website templates 2017 its best ever i found for my hair salon”</p>
                    </div>
                    <div class="testimonial-info">
                        <h4 class="testimonial-name">Thomas Warren</h4>
                        <span class="testimonial-meta">34 Year</span> <span class="testimonial-meta ">Customer</span>
                    </div>
                </div>
                <!--/. testimonial block -->
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="testimonial-block">
                    <!-- testimonial block -->
                    <div class="testimonial-content">
                        <p class="testimonial-text">“Best Free HTML CSS Website Templates for salon and hair cutting business. All features are clean designed”</p>
                    </div>
                    <div class="testimonial-info">
                        <h4 class="testimonial-name">Carie Willis</h4>
                        <span class="testimonial-meta">34 Year</span> <span class="testimonial-meta">Customer</span>
                    </div>
                </div>
                <!--/. testimonial block -->
            </div>
        </div>
    </div>
</div>