@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Pages/Shared/_Layout.cshtml";
    }
}


<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>


@section Scripts {
    @RenderSection("Scripts", required: false)
}